<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>All Tasks</title>
</head>

<body>
    <nav>
        <ul>
            <button><a href="/tasks">Home</a></button>
        </ul>
    </nav>
    <h1>Select a Task</h1>
        <h3 class="tasks"><a href="/tasks/0">Vets Appointment</a></h3>
        <h3 class="tasks"><a href="/tasks/1">Car Service</a></h3>
        <h3 class="tasks"><a href="/tasks/2">Garden Maintenance</a></h3>
        <h3 class="tasks"><a href="/tasks/3">Phone Plumber</a></h3>
        <h3 class="tasks"><a href="/tasks/4">Party Prep</a></h3>
        <h3 class="tasks"><a href="/tasks/5">Change Broadband</a></h3>
        <h3 class="tasks"><a href="/tasks/6">Hairdressers Appointment</a></h3>
        <h3 class="tasks"><a href="/tasks/7">Food Shopping</a></h3>
</body>

</html>